@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter Tight", sans-serif;
    padding-top: 20px;
    background: #f7f7f7;
}

a, a:hover {
    text-decoration: none;
}

.block {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.bread {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: start;
    gap: 10px;
    display: flex;
    margin-top: 39px;
}

.bread a, .bread span {
    color: #797979;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.bread span, .bread .separ {
    color: #003368;
}

.h1_flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 30px;
}

h1 {
    color: #003368;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 96%;
    letter-spacing-f: 0px;
    margin-bottom: 30px;
    margin-top: 0px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* -------------------------------------------- */

.catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.catalog__item {
    background: #F1F2F3;
    border-radius: 50px;
    padding: 20px;
}

.catalog__image {
    display: block;
    height: 328px;
}

.catalog__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 41px;
}

.catalog__name {
    margin-top: 48px;
    margin-bottom: 20px;
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: #181818;
    padding: 0 30px;
}

.catalog__desc {
    font-size: 20px;
    font-weight: 500;
    color: #090D15B2;
    padding: 0 30px;
}

.catalog__price {
    font-size: 50px;
    font-weight: 600;
    color: #003368;
    padding: 0 30px;
    margin: 0;
    margin-bottom: 40px;
}

.catalog__button {
    font-size: 27px;
    font-weight: 500;
    color: #FFF;
    text-align: center;
    width: 100%;
    display: block;
    padding: 39px;
    box-sizing: border-box;
    background: #003368;
    border-radius: 25px;
}

.product {
    padding: 70px 0;
}

.product__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.product__slider {
    width: 100%;
    min-width: 0;
}

.product-images__main {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0 30px;
    position: relative;
    max-height: 860px;
}

.product-images__main--swiper {
    height: 100%;
}

.product-images__thumbs {
    width: 100%;
    overflow: hidden;
    margin: 0 30px;
}

.product-images__slide--main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F2F3;
    border-radius: 58px;
    max-height: 860px;
}

.product-images__thumbs--wrapper {
    height: fit-content;
}

.product-images__slide--main img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 424px;
    aspect-ratio: 1 / 1;
    border-radius: 87px;
}

.product-images__slide--thumb {
    background: #F1F2F3;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    cursor: pointer;
}

.product-images__slide--thumb img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 117px;
    aspect-ratio: 1 / 1;
    border-radius: 21px;
}

.product-images__glass {
    width: 71px;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 100%;
    position: absolute;
    left: 51px;
    top: 51px;
    cursor: pointer;
    z-index: 2;
}

.product-images__glass svg {
    width: 35px;
    color: #003368;
}

.product-images__button-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    width: 57px;
    height: 57px;
    cursor: pointer;
    transition: 0.2s;
}

.product-images__button-prev svg {
    width: 100%;
    height: 100%;
    color: #FFF;
}

.product-images__button-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    width: 57px;
    height: 57px;
    cursor: pointer;
    transition: 0.2s;
}

.product-images__button-next svg {
    width: 100%;
    height: 100%;
    color: #FFF;
}

.product-images__button-prev.swiper-button-disabled,
.product-images__button-next.swiper-button-disabled {
    opacity: 0.5;
}

.product__title {
    font-size: 46px;
    color: #181818;
    margin-bottom: 15px;
}

.product__subtitle {
    font-size: 20px;
    color: #11151CB2;
    margin-bottom: 20px;
}

.product__price {
    color: #003368;
    font-size: 50px;
    font-weight: 600;
    margin: 20px 0;
}

.product__info-svg--arrow {
    width: 10px;
    height: 10px;
}

.product__button {
    font-size: 28px;
    background: #003368;
    color: #FFF;
    padding: 34px;
    width: 100%;
    border: 0;
    border-radius: 22px;
    cursor: pointer;
}

.product__info-list {
    margin-top: 35px;
}

.product__info-item {
    background: #EBEFF5;
    border-radius: 22px;
    padding: 25px 35px;
    margin-bottom: 15px;
}

.product__info-item:last-child {
    margin-bottom: 0;
}

.product__info-title {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #05274B;
    margin-bottom: 20px;
}

.product__info-desc {
    color: #395A7E;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 35px;
    line-height: 25.13px;
}

.product-char {
    display: flex;
}

.product-char__list,
.product__info-material {
    color: #395A7E;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.product__info-material {
    padding-bottom: 25px;
}

.product-desc {
    padding: 100px 0;
    max-width: 1140px;
}

.product-desc__title {
    font-size: 55px;
    font-weight: 500;
    color: #000C19;
    margin-bottom: 30px;
}

.product-desc__text {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

.product-desc__text p {
    margin-bottom: 20px;
}

.product-desc__text--hidden {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: 0.2s;
}

.product-desc__text--hidden.show {
    opacity: 1;
    height: auto;
    visibility: visible;
}

.product-desc__text--btn-open {
    margin-top: 30px;
    color: #05274B;
    cursor: pointer;
}

.product-desc__text--btn-open.hide {
    display: none;
}

.other-product__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 55px;
}

.other-product__title {
    font-size: 55px;
    font-weight: 500;
}

.other-product__button--head {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: #009ADA;
    border-radius: 20px;
    padding: 21px 40px;
    color: #FFF;
}

.other-product__swiper .swiper-wrapper {
    height: fit-content;
}

.other-product__button--head svg {
    height: 10px;
    width: 5px;
}

.other-product__item {
    background: #F1F2F3;
    border-radius: 38px;
    padding: 14px;
    height: fit-content;
}

.other-product__image {
    display: block;
    height: 254px;
}

.other-product__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 41px;
}

.other-product__name {
    margin-top: 30px;
    margin-bottom: 15px;
    display: block;
    font-size: 21px;
    font-weight: 500;
    color: #181818;
    padding: 0 30px;
}

.other-product__desc {
    font-size: 14px;
    font-weight: 500;
    color: #090D15B2;
    padding: 0 30px;
}

.other-product__price {
    font-size: 36px;
    font-weight: 600;
    color: #003368;
    padding: 0 30px;
    margin: 15px 0px 30px;
}

.other-product__button {
    font-size: 27px;
    font-weight: 500;
    color: #FFF;
    text-align: center;
    width: 100%;
    display: block;
    padding: 39px;
    box-sizing: border-box;
    background: #003368;
    border-radius: 25px;
}

.other-product__buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.other-product__prev,
.other-product__next {
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: 0.2s;
}

.other-product__prev svg,
.other-product__next svg {
    width: 100%;
    height: 100%;
}

.other-product__prev.swiper-button-disabled,
.other-product__next.swiper-button-disabled {
    opacity: 0.5;
}
